<section class="home">
  <h2 class="home_title">Bienvenu sur ce quiz</h2>
  <p class="home_presentation">Ce quiz a pour but éducatif</p>
  
  <!-- Form for player name -->
  <form *ngIf="!isPlayerNameConfirmed" class="home_form" (ngSubmit)="confirmPseudo()">
    <label for="name">Pseudo</label>
    <input type="text" id="name" name="name" placeholder="Entrez un pseudo" [(ngModel)]="playerName" required>
    <button type="submit" class="btn--icon">
      <!-- SVG for button icon -->
    </button>
  </form>

  <!-- Search bar for language -->
  <input type="text" (input)="handleInput($event)" placeholder="Search by language">
  <!-- List of quizzes -->
  <div *ngIf="quizzes.length > 0; else noQuizzesTemplate">
    <ul class="quizzes-list">
      <li *ngFor="let quiz of quizzes | filter:searchValue:'language'" class="quiz-item">
        <!-- Button to start a specific quiz with the quiz label -->
        <button (click)="navigateToQuizWithId(quiz.id)" class="btn--outline" [disabled]="!isPlayerNameConfirmed">
          {{ quiz.quizLabel }}
        </button>
      </li>
    </ul>
  </div>

  <!-- Template to show when there are no quizzes available -->
  <ng-template #noQuizzesTemplate>
    <p>Aucun quiz disponible pour le moment.</p>
  </ng-template>

</section>