<section class="home">
  <h2 class="home_title">Bienvenue sur ce quiz</h2>
  <p class="home_presentation">Ce quiz a un but éducatif 😊</p>

  <form *ngIf="!isPlayerNameConfirmed" class="home_form" (ngSubmit)="confirmPseudo()">
    <label for="name">Pseudo</label>
    <input type="text" id="name" name="name" placeholder="Entrez un pseudo" [(ngModel)]="playerName" required>
    <button type="submit" class="btn--icon text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </form>

  <div
    class="relative overflow-x-auto"
    *ngIf="isPlayerNameConfirmed"
  >
    <app-category
      [playerName]="playerName"
    ></app-category>
  </div>

</section>
