<div class="search-bar">
  <input type="text" name="searchTerm" [(ngModel)]="searchValue" (ngModelChange)="filterCategories()" placeholder="Search by category" />
  <button type="button" (click)="resetFilter()">x</button>
</div>

<div class="flex">
  <div *ngFor="let category of filteredCategories" (click)="navigateToQuizWithId(category.id, category.label)" class="card">
    <div class="label">
      <div class="label-title">{{ category.label }}</div>
    </div>
    <div class="content">
      <div class="description">
        {{ category.description }}
      </div>
      <div class="flags">
        <img src="assets/flags/EN.svg" *ngIf="category.language === 'EN'">
        <img src="assets/flags/FR.svg" *ngIf="category.language === 'FR'">
        <img src="assets/flags/DE.svg" *ngIf="category.language === 'DE'">
      </div>
    </div>
  </div>
</div>
