<input type="text" (input)="handleInput($event)" placeholder="Search by language">

<div class="flex">

  <div *ngFor="let category of categories | filter:searchValue:'language'" (click)="navigateToQuizWithId(category.id)" class="card">
    <div class="label">
      <div class="label-title">{{ category.label }}</div>
    </div>
    <div class="content">
      <div class="description">
        {{ category.description }}
      </div>
      <div class="flags">
        <img src="assets/flags/EN.svg" *ngIf="category.language === 'EN'">
        <img src="assets/flags/FR.svg" *ngIf="category.language === 'FR'">
        <img src="assets/flags/DE.svg" *ngIf="category.language === 'DE'">
      </div>
    </div>
  </div>
</div>