<input type="text" name="searchTerm" [(ngModel)]="searchValue" (ngModelChange)="filterCategories()" placeholder="Search by language" />
<button type="button" (click)="resetFilter()">Reset</button>

<div class="flex">
  <div
    *ngFor="let category of filteredCategories"
    (click)="navigateToQuizWithId(category.id, category.label)"
    class="max-w-sm rounded overflow-hidden shadow-lg"
  >
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ category.label }}</div>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        <img src="assets/flags/EN.svg" *ngIf="category.language === 'EN'" />
        <img src="assets/flags/FR.svg" *ngIf="category.language === 'FR'" />
        <img src="assets/flags/DE.svg" *ngIf="category.language === 'DE'" />
      </span>
    </div>
  </div>
</div>
